---
title: Ad Styles
---

<div class="intro">
  <h1>Ad Styles</h1>
  <p>This is the style guide for ads used across The Texas Tribune platforms.</p>
  <p>The goal of this style guide is to provide a reference for what to use when setting up ads both within the Tribune project and News Apps projects.</p>
  <button><a href="http://texastribune.github.io/styleguides/">Go to Texas Tribune styleguide</a></button>
</div>
<div class="main">
  <h2>Ad Units</h2>
  <ul>
  <% data.AdUnits.each do |ad| %>
    <li>
      <h4><%= ad["Unit"] %></h4>
      <p><%= ad["Usage"] %></p>
      <p>Placement: <%= ad["Locations"] %></p>
    </li>
  <% end %>
  </ul>
  <h2>Ad Sizes</h2>
  <ul>
  <% data.AdSizes.each do |adsize| %>
    <li>
      <h4><%= adsize["Width"].floor %>px by <%= adsize["Height"].floor %>px</h4>
      <p><%= adsize["Usage"] %></p>
    </li>
  <% end %>
  </ul>
  <h2>Ad Targeting</h2>
  <h3>Targeting Presets</h3>
  <p>Targeting Presets are combinations of targeting and ad units that are reused throughout the Tribune site.</p>
  <ul>
    <% data.TargetPresets.each do |target| %>
      <li>
        <h4><%= target["Name"] %></h4>
        <p><%= target["Description"] %></p>
      </li>
    <% end %>
  </ul>
  <h3>The Texas Tribune</h3>
  <p>These keyvalue pairs are examples of the keys and values that are used to target specific pages and locations on the Tribune site. There are many possible values for each of these keys.</p>
  <ul>
  <% data.AdTargeting.each do |target| %>
    <% if target["Platform"] == 'Tribune' %>
      <li>
        <h4><%= target["Key"] %>, <%= target["Value"] %></h4>
        <p><%= target["Info"] %></p>
      </li>
    <% end %>
  <% end %>
  </ul>
  <h3>Apps</h3>
  <p>These keyvalue pairs are the exact ones that are used to target specific apps and projects.</p>
  <ul>
  <% data.AdTargeting.each do |target| %>
    <% if target["Platform"] == 'App' %>
      <li>
        <h4><%= target["Key"] %>, <%= target["Value"] %></h4>
        <p><%= target["Info"] %></p>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
